@charset "UTF-8";
@import url("common.css");

th {
	background-color:var(--banner);
	color: var(--fontcolor);
	font-weight: initial;
}

tr ,td, th{
	border: 0.3px solid var(--fontcolor);
	height: 25px;
}

table {
	text-align: center;
	width: 80%;
	border-spacing: 0;
	border: 1px solid;
	margin: auto;
}

table, tr, td, th{
	border-collapse: collapse;
}

.message-table-box {
	margin: 20px auto auto 20px;
	text-align: center;
}

.message-type {
	margin: 10px auto 10px auto;
}

.message-title:hover {
	color: skyblue;
}

button {
	color: var(--fontcolor);
	padding: 5px;
	border: 1px solid var(--banner);
	background-color: var(--banner);
	border-radius: 5px;
}

h2 {
	margin: auto auto 0px auto;
	font-weight: initial;
	color: var(--fontcolor);
}